.alert-map {
    display: flex;
    flex-direction: column;

    .main-content {
        .alerts-map {
            grid-column: span 2;
        }

        .alerts-aside {
            height: 40rem;
            overflow: auto;
        }

        @media screen and (max-width: 50rem) {
            flex-direction: column;
            height: initial;

            .alerts-map {
                height: min(40rem, 60vh);
            }

            .alerts-aside {
                flex-basis: unset;
            }
        }
    }
}
