.alert-list-item {
    margin-bottom: var(--go-ui-spacing-sm);
    cursor: pointer;

    &:hover {
        background-color: var(--go-ui-color-background-hover);
    }

    .tag {
        border-radius: var(--go-ui-font-size-sm);
        background-color: var(--go-ui-color-gray-30);
        padding: var(--go-ui-spacing-4xs) var(--go-ui-spacing-xs);
        width: fit-content;
        font-size: var(--go-ui-font-size-xs);
        font-weight: var(--go-ui-font-weight-normal);
    }
}