.source-card {
    display: flex;
    gap: var(--go-ui-spacing-md);
    transition: box-shadow var(--go-ui-duration-transition-slow) ease-in-out;
    border-radius: var(--go-ui-border-radius-lg);
    box-shadow: var(--go-ui-box-shadow-md);
    text-decoration: none;

    &:hover {
        box-shadow: var(--go-ui-box-shadow-xl);
    }

    .source-detail {
        display: flex;
        gap: var(--go-ui-spacing-lg);
        border-radius: var(--go-ui-border-radius-lg);
        padding: var(--go-ui-spacing-lg);

        .title {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-xs);
            justify-content: space-between;
            color: var(--go-ui-color-text);
        }

        .language {
            width: fit-content;
            text-decoration: none;
            color: var(--go-ui-color-gray-60);
            font-weight: var(--go-ui-font-weight-medium);
        }

        .figure {
            width: 10rem;
            height: 4rem;
        }
    }
}
