.source-card {
    transition: box-shadow var(--go-ui-duration-transition-slow) ease-in-out;
    border-radius: var(--go-ui-border-radius-lg);
    box-shadow: var(--go-ui-box-shadow-md);
    width: 100%;

    &:hover {
        box-shadow: var(--go-ui-box-shadow-xl);
    }

    .alt-icon {
        flex-shrink: 0;
        color: var(--go-ui-color-text);
        font-size: 4rem;
    }

    .figure {
        flex-shrink: 0;
        width: 8rem;
        height: 4rem;
        object-fit: contain;
        object-position: center center;
    }
}