.alerts-map {
    .alerts-aside {
        height: 45rem;
        overflow: auto;
    }

    @media screen and (max-width: 50rem) {
        flex-direction: column;
        height: initial;

        .alerts-map {
            height: min(40rem, 60vh);
        }

        .alerts-aside {
            flex-basis: unset;
        }
    }
}
