.alert-info {
    padding: var(--go-ui-spacing-lg) 0;

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: var(--go-ui-spacing-xs);
    }

    .badge {
        border-radius: 1em;
        background-color: var(--go-ui-color-gray-20);
        padding: var(--go-ui-spacing-2xs) var(--go-ui-spacing-sm);
    }

    .area-tab-list {
        background-color: var(--go-ui-color-background);
        width: 100%;
        max-height: 40rem;
        overflow: auto;

        .area-tab-list-content {
            flex-wrap: nowrap;
            gap: 0;
            width: 100%;
            overflow-x: auto;

            .area-tab {
                flex-shrink: 0;
                padding: var(--go-ui-spacing-xs) var(--go-ui-spacing-md);
                text-decoration: none;
                font-size: var(--go-ui-font-size-lg);
                font-weight: var(--go-ui-font-weight-normal);

                &.active {
                    border-bottom-color: var(--go-ui-color-primary-red);
                    background-color: var(--go-ui-color-red-10);
                }
            }
        }
    }

    .area-details {
        grid-column: span 4;
    }

    .metadata {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: var(--go-ui-spacing-xs);

        .instruction {
            flex-direction: column;
            grid-column: span 3;
        }
    }
}
