.alert-info {
    padding: var(--go-ui-spacing-lg) 0;

    .badge {
        border-radius: 1em;
        background-color: var(--go-ui-color-gray-20);
        padding: var(--go-ui-spacing-3xs) var(--go-ui-spacing-xs);
    }

    .area-tab-list {
        background-color: var(--go-ui-color-background);
        width: 100%;
        max-height: 40rem;
        overflow: auto;

        .area-tab {
            padding: var(--go-ui-spacing-xs) var(--go-ui-spacing-md);
            font-size: var(--go-ui-font-size-lg);
            font-weight: var(--go-ui-font-weight-normal);

            &.active {
                background-color: var(--go-ui-color-red-10);
            }
        }

    }

    .area-details {
        grid-column: span 4;
    }

    .metadata {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: var(--go-ui-spacing-xs);

        .instruction {
            flex-direction: column;
            grid-column: span 3;
        }
    }

    .instruction-content {
        white-space: pre-wrap;
    }
}