.alerts-table {
    .event {
        width: 0%;
        min-width: 8rem;
    }

    .category {
        width: 0%;
        min-width: 5rem;
    }

    .region {
        width: 0%;
        min-width: 7rem;
    }

    .country {
        width: 0%;
        min-width: 8rem;
    }

    .admins {
        min-width: 14rem;
    }

    .actions,
    .sent {
        width: 7%;
        min-width: 7rem;
    }

    .view-details {
        text-decoration: none;
        color: var(--go-ui-color-text);
        font-weight: var(--go-ui-font-weight-medium);
    }

    .view-details:hover {
        text-decoration: underline;
        color: var(--go-ui-color-primary-red);
    }
}
