.subscription-detail {
    background-color: var(--go-ui-color-gray-20);
    padding: var(--go-ui-spacing-md);

    .alertDetail {
        display: flex;
        flex-wrap: wrap;
        gap: var(--go-ui-spacing-sm);
    }
}
