.alert-details {
    .tag {
        display: flex;
        align-items: center;
        border-radius: var(--go-ui-border-radius-2xl);
        background-color: var(--go-ui-color-gray-30);
        padding: var(--go-ui-spacing-4xs) var(--go-ui-spacing-sm);
        width: fit-content;
        text-decoration: none;
        font-weight: var(--go-ui-font-weight-medium);
    }

    .reference-value {
        word-break: break-word;
    }
}
