.home {
    .card {
        border-radius: var(--go-ui-border-radius-lg);
        box-shadow: var(--go-ui-box-shadow-md);

        .alert-image {
            margin: 0 auto;
            object-fit: contain;
            height: 5rem;
        }
    }

    .map-filter,
    .table-filter {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-lg);
    }

}