.home {
    .content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-2xl);
    }

    .tab-section {
        display: flex;
        justify-content: center;
    }

    .map-filter,
    .table-filter {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-lg);
    }
}