.alert-map {
    display: flex;
    flex-direction: column;

    .main-content {
        display: flex;
        flex-grow: 1;
        height: 45rem;
        gap: var(--go-ui-spacing-md);

        .alerts-map {
            flex-grow: 1;
        }

        .alerts-aside {
            display: flex;
            flex-basis: 30%;
            overflow: auto;
        }

        @media screen and (max-width: 50rem) {
            flex-direction: column;
            height: initial;

            .alerts-map {
                height: min(40rem, 60vh);
            }

            .alerts-aside {
                flex-basis: unset;
            }
        }
    }
}
